/*Imported Google Font*/

@import url('https://fonts.googleapis.com/css?family=Poppins');
/*

$purple: #8A4D76;
$pink: #FA7C91;
$brown: #757763;
$beige-light: #D0D1CD;
$beige-lighter: #EFF0EB;

*/

.primary {
    background-color: #8A4D76
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;

}

h1 {
    color: #363636;
    font-size: 24px;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    text-shadow: 1px 1px #363636;
    margin-bottom: -15px;
    margin-left: 15px;
}

h2 {
    color: #757763;
    font-size: 16px;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    text-shadow: 1px 1px #363636;
    margin-left: 15px;
}

a.tag:hover {
    text-decoration: underline;
}

html, body, p, ol, hr {
    margin: 0;
    padding: 0;
    font-size: 100%;
    font-weight: normal;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

td, th {
    padding: 0;
    text-align: center;
}

html {
    background-color: whitesmoke;
    font-size: 14px;
    min-width: 300px;
    overflow-y: scroll;
}

footer {
    display: block;
}

body {
    font-family: 'Poppins', sans-serif;
}

a {
    color: #FA7C91;
    cursor: pointer;
    text-decoration: none;
    a:hover {
        color: black;
    }
}

img {
    width: 100%;
}

#main-image {
    max-width: 100%;
}


small {
    font-size: 10px;
    height: 300px;
}

span {
    font-style: inherit;
}

strong {
    color: #363636;
}

.container {
    margin: 0 auto;
    max-width: 800px;
    padding-top: 30px;
    padding-bottom: 100px;
}

.content h1, .content h2, .content h3, .content h4, .content h5, .content h6 {
    font-weight: 600;
    line-height: 1.125;
}

.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
}

.navigation {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding-top: 10px;
}

.text-centered {
    text-align: center;
}

.text-left {
    text-align: left;
}

.hero {
    align-items: stretch;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.dark-theme {
    background-color: #363636;
}

.title {
    color: #363636;
    font-size: 18px;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
}

.subtitle {
    color: black;
    font-size: 12px;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
}

.button {
    align-items: center;
    display: flex;
    justify-content: space-between;

}

.column {
    padding: 5px;
}

.column-4 {
    padding: 5px;
    width: 33.3%;
}

.row {
    display: flex;
    align-items: start;
    justify-content: space-evenly;
    width: 100%;
}
.extra-padding-bottom-40 {
    padding-bottom: 40px;
}

.extra-padding-bottom-20 {
    padding-bottom: 20px;
}

.extra-padding-bottom-15 {
    padding-bottom: 15px;
}